<footer class="footer">
  <p class="footer-text">
    © 2023 | All Rights Reserved | Developed with
    <span class="heart">
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="#FF6B00"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                 C13.09 3.81 14.76 3 16.5 3
                 19.58 3 22 5.42 22 8.5
                 c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
    </span>
    by
    <a href="#" id="team-link" data-modal-open>GoIT Students</a>
  </p>
</footer>
<!-- Scroll to Top Button -->
<button id="scrollTopBtn" title="Go to top">:arrow_up:</button>
<!-- Modal -->
<div id="team-modal" class="modal-footer is-hidden" data-modal>
  <div class="modal-content-footer">
    <span class="close" data-modal-close>&times;</span>
    <h2>Meet the Team</h2>
    <ul class="team-list">
      <li class="team-member">
        <img
          src="../img/nurAleyna.jpeg"
          alt="Nur Aleyna Pektaş"
          class="member-photo"
        />
        <h3 class="member-name">Nur Aleyna Pektaş</h3>
        <div class="member-links">
          <a
            href="https://github.com/NurAleynaPektas"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a
            href="https://linkedin.com/in/nur-aleyna-pektaş-16b401332"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
      <li class="team-member">
        <img
          src="../img/emreYiğit.jpeg"
          alt="Emre Yiğit"
          class="member-photo"
        />
        <h3 class="member-name">Emre Yiğit</h3>
        <div class="member-links">
          <a
            href="https://github.com/emrey1git"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a
            href="https://linkedin.com/in/emreyigitt"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
      <li class="team-member">
        <img
          src="../img/ozgeSevim.jpeg"
          alt="Özge Sevim"
          class="member-photo"
        />
        <h3 class="member-name">Özge Sevim</h3>
        <div class="member-links">
          <a
            href="https://github.com/OzgeSevim"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a
            href="https://linkedin.com/in/özge-sevim-99608a332"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
      <li class="team-member">
        <img
          src="../img/hayrunisa.jpeg"
          alt="Hayrunisa Turan"
          class="member-photo"
        />
        <h3 class="member-name">Hayrunisa Turan</h3>
        <div class="member-links">
          <a
            href="https://github.com/hayrunisatrn"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a
            href="https://linkedin.com/in/hayrunisa-turan-7550b4119"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
      <li class="team-member">
        <img src="../img/ceren.jpeg" alt="Ceren Şahin" class="member-photo" />
        <h3 class="member-name">Ceren Şahin</h3>
        <div class="member-links">
          <a
            href="https://github.com/CenCeren"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a
            href="https://linkedin.com/in/hediye-ceren-karabacak-şahin-079ba57a"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
      <li class="team-member">
        <img
          src="../img/okanOzdemirr.jpeg"
          alt="Okan Özdemir"
          class="member-photo"
        />
        <h3 class="member-name">Okan Özdemir</h3>
        <div class="member-links">
          <a
            href="https://github.com/Okan-ozdemir"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a
            href="https://linkedin.com/in/okan-özdemir-6a7b99105"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
      <li class="team-member">
        <img src="" alt="Tuana Albayrak" class="member-photo" />
        <h3 class="member-name">Tuana Albayrak</h3>
        <div class="member-links">
          <a
            href="https://github.com/for-tuana"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a href="#" target="_blank" class="icon-link">
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
      <li class="team-member">
        <img
          src="../img/ahmetEmreHarsa.jpeg"
          alt="Ahmet Emre Harsa"
          class="member-photo"
        />
        <h3 class="member-name">Ahmet Emre Harsa</h3>
        <div class="member-links">
          <a href="https://github.com/5yzygy" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
            GitHub
          </a>
          <a
            href="https://linkedin.com/in/aeharsa"
            target="_blank"
            class="icon-link"
          >
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
