.footer {
  background-color: #111;
  padding: 1rem;
  text-align: center;
}
.footer-text {
  color: #ccc;
  font-size: 0.9rem;
  margin: 0;
}
.footer-text a {
  color: #ff6b00;
  text-decoration: none;
  font-weight: 500;
}
.heart {
  display: inline-block;
  animation: beat 1s infinite;
  color: #ff6b00;
}
@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 12px;
  z-index: 1000;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-content {
  background: #1e1e1e;
  color: #fff;
  margin: 10% auto;
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}
.close {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff6b00;
}
/* Team list */
.team-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.team-list li {
  text-align: center;
  width: 150px;
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.team-list img {
  width: 200px;
  height: 250px;
  border-radius: 10%;
  margin-bottom: 0.5rem;
}
.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}
.icon-link:hover {
  color: #0077b5; /* LinkedIn mavi tonu */
}
.icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
/* Scroll to Top Button */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff6b00;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.7rem 0.9rem;
  font-size: 1.2rem;
  display: none;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
/* Responsive */
@media (max-width: 480px) {
  .footer-text {
    font-size: 0.8rem;
  }
  .modal-content {
    padding: 1rem;
  }
}
