/* Modal için */
.modal {
  display: none;
  z-index: 1;
  position: absolute; /* Modalın sabit pozisyonda olmasını sağlar, ekran kaydırılsa bile ortada kalır */
  left: 50%; /* Ekranın ortasına yerleştirir */
  top: 50%; /* Ekranın ortasına yerleştirir */
  transform: translate(-50%, -50%); /* Modalı hem yatay hem de dikey ortalar */
  width: 80%; /* Modalın genişliğini ayarlayın */
  max-width: 600px; /* Maksimum genişlik sınırı */
  background-color: rgba(0, 0, 0, 0.4); /* Yarı şeffaf arka plan */
}

/* Modal içerik stili */
.modal-content {
  background-color: #fefefe;
  margin: 0;
  padding: 20px;
  border: 1px solid #888;
  color: black;
  border-radius: 8px; /* Köşelere yuvarlaklık ekler */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Modalın etrafına gölge efekti */
}

/* Kapatma butonu stili */
.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
}

#trailerIframe {
  width: 100%;
  height: 100%;
  border: none;
}

.hero-container {
  position: relative;
  background: linear-gradient(
    86.47deg,
    #111111 33.63%,
    rgba(17, 17, 17, 0) 76.86%
  );
  background-size: cover; /* Resmin tam ekranı kaplamasını sağlar */
  background-repeat: no-repeat; /* Resmin tekrar etmesini engeller */
  background-position: center; /* Resmi ortalar */
  padding: 20px;
  object-fit: cover;
  padding-bottom: 130px;
  margin-bottom: 50px;
}

.hero-content h1 {
  padding-top: 40px;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.overview {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;

  /* font-size: 14px; */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f8f8f8;
  padding-right: 123px; /* Sağ taraftan 123px boşluk bırakır */
}
.star {
  padding-top: 12px;
  padding-bottom: 20px;
}
.trailer {
  width: 117px;
  height: 38px;
  border-radius: 74px;
  gap: 8px;
  padding: 10px;
  position: relative;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: 0px;
  text-align: center;
  align-items: center;
}
.detail {
  width: 117px;
  height: 38px;
  border-radius: 74px;
  gap: 8px;
  padding: 10px;

  position: relative;
  background: none;
  border: 1px solid #f8f8f8;
  text-align: center;
  align-items: center;
}

.close-btn {
  margin-right: 15px;
}

@media (min-width: 768px) {
}
