/* Genel stiller */
body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 320px;
  /* Görseldeki genişliğe yakın */
  padding: 10px;
}

/* .upcoming-section {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
} */

.movie-container {
  padding: 22px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.movie-poster {
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  /* Mobil uyumlu olması için */
  max-width: 280px;
  height: auto;
}

.movie-info {
  /* text-align: left;
    width: 100%;
    font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%; */
  color: #b7b7b7;
  margin-right: 57px;
}

.movie-title {
  /* margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 1.1em; */

  font-family: Roboto;
  font-weight: 500 bold;
  font-size: 20px;
  line-height: 100%;
  /* letter-spacing: 0%; */
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
}

.release-date-value {
  color: #f87719;
  font-weight: bold;
  padding-left: 30px;
}

.vote-average {
  background-color: white;
  color: black;
  margin-left: 35px;
  border-radius: 5px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-color: #ffffff;
}

.vote-count {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-top: 1px;
  border-color: #ffffff;
}

.popularity {
  color: white;
  margin-left: 45px;
}

.genre {
  color: white;
  margin-left: 70px;
}

.about {
  margin-top: 20px;
}

.movie-overview {
  color: white;
  margin-top: 10px;
  line-height: 1.6;
}

/* .add-to-library {
    background-color:linear-gradient(to right, #FFC226, #F84119) ;
    color: #121212;
    border: none;
    padding: 10px 15px;
    border-radius: 74px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.add-to-library:hover {
    background-color: #ffc107;
} */

button {
  background: linear-gradient(to right, #ffc226, #f84119);
  /* Sağdan sola geçiş */
  color: #121212;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 74px;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background: linear-gradient(to right, #ffc226, #ffc107);
  /* Hover efekti */
}

/* Loader stili (isteğe bağlı) */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
  display: none;
  /* Varsayılan olarak gizli */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Mobil uyumluluk için */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

.movie-title {
  font-size: 18px;
}

.movie-info {
  margin-right: 0; /* Film bilgisi için sağdaki boşluk kaldırıldı */
}

.vote-average,
.vote-count {
  margin-left: 10px;
  padding: 3px;
}

/* Tablet Uyumluluğu (Mobilden büyük, masaüstünden küçük) */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 600px;
  }
  /*
    .movie-title {
        font-size: 22px;
    }
    */
  .movie-poster {
    max-width: 320px;
  }

  .weekly-trends {
    font-size: 18px;
  }

  .movie-info {
    margin-right: 20px;
  }

  .vote-average {
    margin-left: 35px;
    padding: 2px;
  }

  .vote-count {
    margin-left: 10px;
    padding: 2px;
  }
}

/* Masaüstü Uyumluluğu */
@media (min-width: 1280px) {
  .container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    gap: 16px;
  }

  .movie-title {
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 28px;
    padding: 0;
  }

  .movie-card {
    flex-direction: column; /* DİKEYDEN YATAYA */
    gap: 30px; /* İki kolon arası boşluk */
    align-items: flex-start;
  }

  .movie-poster {
    max-width: 50%; /* Sol tarafta poster */
  }

  .movie-info {
    margin-right: 10px;
    max-width: 50%; /* Sağ tarafta metin */
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
  }

  .vote-average,
  .vote-count {
    margin-left: 20px;
    padding: 6px;
  }

  .popularity {
    margin-left: 50px;
  }

  .genre {
    margin-left: 55px;
  }
}
