.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 40px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}
.weekly-see {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 24px;
}
.see {
  color: #f87719;
  font-weight: 500;
  font-size: 16px;
}
.imgLer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.displayDegis {
  display: none;
}
/*İNPUT SEARCH BUTTON CSS*/
.search-container {
  display: flex; /* Yanyana hizalamak için flexbox kullanıyoruz */
  align-items: center; /* Dikeyde ortalamak için */
}
.search-input {
  flex-grow: 1; /* Input alanı genişlesin */
}
.search-button {
  margin-left: 10px;
  margin-bottom: 15px; /* Buton ile input arasına boşluk bırakmak için */
}
.img {
  position: relative;
}
.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.stars {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
  width: 14px;
  height: 14px;
}
.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: auto;
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 5px;
}
.movie-details {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}
.movie-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
}
.movie-name h3 {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
.movie-name p {
  font-size: 12px;
  font-weight: 500;
  color: #b7b7b7;
}
/*STARS CSS*/
.checked {
  color: #f87719;
}
/*YIL SEÇİMİNİ CSS'LERİ*/
select {
  background-color: #111;
  color: white;
  padding: 10px;
  border: 2px solid #666;
  border-radius: 8px;
  font-size: 14px;
}
option {
  background-color: #111;
  color: white;
}
/* Tablet görünümü (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    width: auto;
    height: auto;
  }
  .weekly-see {
    width: 700px;
  }
  .see {
    font-size: 24px;
  }
  .imgLer {
    width: 100%;
    height: auto;
  }
  .displayDegis {
    display: block;
  }
  .movie-card {
    width: 224px;
    height: 325px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: auto;
    height: auto;
  }
  .weekly-trends {
    font-size: 28px;
    width: auto;
    height: auto;
  }
  .weekly-see {
    width: 1200px;
  }
  .see {
    font-size: 24px;
    width: 84px;
    height: 33px;
  }
  .image-container img {
    width: 100%;
  }
  .imgLer {
    width: 395px;
    height: 574px;
  }
  .displayDegis {
    display: block;
  }
  .movie-card {
    width: 395px;
    height: 574px;
  }
}
